<ion-item-sliding #sliding>
  <ion-item (click)="update.emit(list)">
    {{ list.name }}
    <ion-toggle
      slot="end"
      color="primary"
      [checked]="list.isactive"
      (ionChange)="isactive.emit(list)"
      (click)="$event.stopPropagation()"
    ></ion-toggle>
  </ion-item>
  <ion-item-options side="start">
    <ion-item-option
      color="danger"
      (click)="delete.emit(list); sliding.close()"
    >
      <ion-icon
        slot="icon-only"
        name="trash"
      ></ion-icon>
    </ion-item-option>
    <ion-item-option (click)="update.emit(list); sliding.close()">
      <ion-icon
        slot="icon-only"
        name="create"
      ></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
